
.header {    
    border-bottom: 1px solid #eee;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;   
    align-items: center; 
  }
  .header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .header .welcome {
    margin-left: auto; 
    margin-right: 10px;
    color: grey;      
  }
  .header .welcome span.admin, i.admin{
    color: #FF5400;
  }
  .header .btn-dashboard {
    background-color: #FF5400;
    color: white;
  }

.below-header {
    display: flex;
    padding: 3% 3%;
    justify-content: space-between;    
    align-items: center;         
}
    .nav-dropdown {
        align-items: center;
        color: #FF5400;
        display: flex;        
        border: 1.5px solid #FF5400;
        padding: 5px 15px;    
        cursor: pointer;    
        gap: 7px;    
        border-radius: 5px;
        font-size: 1.3rem;   
    }
    .nav-dropdown i {
        margin-top: 5px; /* Adjust margin as needed */        
    }
        .click-box {
            display: flex;
            gap: 10px;
            color: #FF5400;   
            box-sizing: border-box;    
        }
        .click-box .box {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 5px;  
            border: 1px solid #FF5400;   
            box-sizing: border-box;
            width: 100px;
            
        }
            .box-content { 
                padding-top: 15px;    
                display: grid;
                align-items: center;
                justify-content: center;
            }
            .box-content i{
                font-size: 1.3rem;   
            }

    
