* {
    padding: 0;
    margin: 0;
}

  .containers {
    color: #fff;
    margin: 10px 7%;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container table {
    border-collapse: collapse;
    margin-top: 20px;
  }

  .container th {
    background-color: #FF5400;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 12px;
  }

  .container td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
  }
  .container thead {
    background-color: #FF5400;
  }
  .checkbox-column {
    width: 50px;
  }

  .action-column {
    width: 100px;
  }

  .center-text {
    text-align: center;
  }

  /* Style for checked checkbox */
  .search-box input[type="checkbox"]:checked {
    background-color: #ff5905;
  }

  /* Style for dropdown select */
  .search-box select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }

  /* Style for edit button */
  .edit-button {
    color: #FF5400;
    text-decoration: none;
  }

  .edit-button i {
    margin-right: 5px;
  }

  .search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .search-box {
    display: flex;
    position: relative;
    flex: 1;
  }

  .search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 50%;
    box-sizing: border-box;
    padding-left: 30px; /* Space for the search icon */
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }

  .add-contact-button {
    background-color: #FF5400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }

    .department-dropdown {
        width: 200px;
        margin-left: 10px;
    }

.header {    
    border-bottom: 1px solid #eee;
    color: #fff;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;   
    align-items: center; 
  }
  .header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .header .welcome {
    margin-left: auto; 
    margin-right: 10px;
    color: grey;      
  }
  .header .welcome span.admin, i.admin{
    color: #FF5400;
  }
  .header .btn-dashboard {
    background-color: #FF5400;
    color: white;
    border: 1px solid #FF5400;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s;
  }
    .btn-dashboard:hover {
        color: #FF5400;
        transition: all 0.5s;
        border: 1px solid #FF5400;
        background-color:#fff;        
    }

.below-header {
    display: flex;
    padding: 3% 7%;
    justify-content: space-between;    
    align-items: center;         
}
    .nav-dropdown {
        align-items: center;
        color: #FF5400;
        display: flex;        
        border: 1.5px solid #FF5400;
        padding: 5px 15px;    
        cursor: pointer;    
        gap: 7px;    
        border-radius: 5px;
        font-size: 1.3rem;   
    }
    .nav-dropdown i {
        margin-top: 5px; /* Adjust margin as needed */        
    }
        .click-box {
            display: flex;
            gap: 10px;
            color: #FF5400;   
            box-sizing: border-box;    
        }
        .click-box .box {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 5px;  
            border: 1px solid #FF5400;   
            box-sizing: border-box;
            width: 100px;
            
        }
            .box-content { 
                padding-top: 15px;    
                display: grid;
                align-items: center;
                justify-content: center;
            }
            .box-content i{
                font-size: 1.3rem;   
            }
            .box-content p {
                font-size: 15px;
            }
